.header{
    height: 60px;
}

.header h1{
    float: left;
}

.header h1 a{
    background-image: url(../img/logo.png);
    background-size: 100%;
    width: 100px;
    height: 60px;
    display: block;
    /*圖片帶文字設定*/
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.productList{
    width: 660px;
}

.productList .sale{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: #fff;
    padding: 5px;
}

.productList img{
    width: 100%;
}

.productList li{
    position: relative;
    float: left;
    width: 138px;
    height: 200px;
    border: 1px solid #000;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.productList li h2{
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}

.productList li span{
    color: red;
    font-size: 20px;
}

.box{
    width: 300px;
    height: 300px;
    position: fixed;
    right: 0;
    bottom: 0;
    /*background-repeat: repeat-x;*/
    /*
    background-size: 50%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: right bottom;
    */

    background: no-repeat url(../img/logo.png) #000 right bottom;
    background-size: 50%;
}
