/*h1,p,li*/
/*區塊*/
h1{
    font-size: large;
    color: red;
    background-color: gray;
    color: white;
}

/*行內*/
/*
a{
    background-color: blue;
    color: white;
}
*/

span{
    background-color: yellow;
    color: red;
}

.btn{
    color: white;
    background-color: green;
    display: block;
    height: 50px;
    width: 100px;
}

.style1{
    background-color: gray;
}

/*後代選擇器*/
.style1 a{
    color: red;
}

.style1 .content{
    font-weight: bold;
}

.style2{
    color: red;
    background-color: yellow;
}

.style2 .test{
    color: red;
}
